.main{
width:100%;
    height: 200px;
    border: 5px solid black;

}
.one{
    width:15%;
    background-color: red;
     height: 200px;
    display: inline-block;
}
.two{
    width:12%;
    height: 200px;
      display: inline-block;
}
.one1{
    width:16%;
    background-color: red;
     height: 200px;
    display: inline-block;
}